
form[name="newEmployeeForm"]{
           border: 2px solid #bb3800;
           display: block;
       }
       label{
           display: block;
       }

button[type="reset"]{
    background: #ff0000;
    color: #fff;
    border-color: #000;
    }
button[type="submit"]{
    background: #345594;
    color: #fff;
    border-color: #000;
    }
